@font-face {
  font-family: 'iconiac';
  src: url('iconiac/iconiac.eot?58455341');
  src: url('iconiac/iconiac.eot?58455341#iefix') format('embedded-opentype'),
       url('iconiac/iconiac.woff?58455341') format('woff'),
       url('iconiac/iconiac.ttf?58455341') format('truetype'),
       url('iconiac/iconiac.svg?58455341#iconiac') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('iconiac/iconiac.svg?58455341#iconiac') format('svg');
  }
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconiac";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.icon-12px{ font-size: 12px;}
.icon-24px{ font-size: 24px;}
.icon-36px{ font-size: 36px;}
.icon-48px{ font-size: 48px;}
.icon-64px{ font-size: 60px;}
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-opera:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-quote-right:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80c'; } /* '' */
.icon-calendar-empty:before { content: '\e80d'; } /* '' */
.icon-music:before { content: '\e80e'; } /* '' */
.icon-download-cloud:before { content: '\e80f'; } /* '' */
.icon-mail-alt:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-help:before { content: '\e815'; } /* '' */
.icon-info:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-lock:before { content: '\e818'; } /* '' */
.icon-lock-open-alt:before { content: '\e819'; } /* '' */
.icon-tags:before { content: '\e81a'; } /* '' */
.icon-code:before { content: '\e81b'; } /* '' */
.icon-reply:before { content: '\e81c'; } /* '' */
.icon-gamepad:before { content: '\e81d'; } /* '' */
.icon-attention-alt:before { content: '\e81e'; } /* '' */
.icon-basket:before { content: '\e81f'; } /* '' */
.icon-cog:before { content: '\e820'; } /* '' */
.icon-folder-open:before { content: '\e821'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */
.icon-doc-inv:before { content: '\e823'; } /* '' */
.icon-mic:before { content: '\e824'; } /* '' */
.icon-clock:before { content: '\e825'; } /* '' */
.icon-left-open:before { content: '\e826'; } /* '' */
.icon-right-open:before { content: '\e827'; } /* '' */
.icon-up-open:before { content: '\e828'; } /* '' */
.icon-down-open:before { content: '\e829'; } /* '' */
.icon-award:before { content: '\e82a'; } /* '' */
.icon-desktop:before { content: '\e82b'; } /* '' */
.icon-laptop:before { content: '\e82c'; } /* '' */
.icon-tablet:before { content: '\e82d'; } /* '' */
.icon-mobile:before { content: '\e82e'; } /* '' */
.icon-globe:before { content: '\e82f'; } /* '' */
.icon-cloud:before { content: '\e830'; } /* '' */
.icon-flash:before { content: '\e831'; } /* '' */
.icon-flight:before { content: '\e832'; } /* '' */
.icon-leaf:before { content: '\e833'; } /* '' */
.icon-signal:before { content: '\e834'; } /* '' */
.icon-briefcase:before { content: '\e835'; } /* '' */
.icon-ajust:before { content: '\e836'; } /* '' */
.icon-asterisk:before { content: '\e837'; } /* '' */
.icon-certificate:before { content: '\e838'; } /* '' */
.icon-bug:before { content: '\e839'; } /* '' */
.icon-truck:before { content: '\e83a'; } /* '' */
.icon-dollar:before { content: '\e83b'; } /* '' */
.icon-gauge:before { content: '\e83c'; } /* '' */
.icon-coffee:before { content: '\e83d'; } /* '' */
.icon-food:before { content: '\e83e'; } /* '' */
.icon-medkit:before { content: '\e83f'; } /* '' */
.icon-puzzle:before { content: '\e840'; } /* '' */
.icon-shield:before { content: '\e841'; } /* '' */
.icon-android:before { content: '\e842'; } /* '' */
.icon-apple:before { content: '\e843'; } /* '' */
.icon-eye-1:before { content: '\e844'; } /* '' */
.icon-download-1:before { content: '\e845'; } /* '' */
.icon-fast-food:before { content: '\e846'; } /* '' */
.icon-art-gallery:before { content: '\e847'; } /* '' */
.icon-college:before { content: '\e848'; } /* '' */
.icon-shuffle:before { content: '\e849'; } /* '' */
.icon-box:before { content: '\e84a'; } /* '' */
.icon-extinguisher:before { content: '\e84b'; } /* '' */
.icon-ccw:before { content: '\e84c'; } /* '' */
.icon-arrows-cw:before { content: '\e84d'; } /* '' */
.icon-cw:before { content: '\e84e'; } /* '' */
.icon-ellipsis-vert:before { content: '\e84f'; } /* '' */
.icon-paypal:before { content: '\e850'; } /* '' */
.icon-pinterest:before { content: '\e851'; } /* '' */
.icon-gplus:before { content: '\e852'; } /* '' */
.icon-stumbleupon:before { content: '\e853'; } /* '' */
.icon-forrst:before { content: '\e854'; } /* '' */
.icon-reddit:before { content: '\e855'; } /* '' */
.icon-digg:before { content: '\e856'; } /* '' */
.icon-blogger:before { content: '\e857'; } /* '' */
.icon-dribbble:before { content: '\e858'; } /* '' */
.icon-evernote:before { content: '\e859'; } /* '' */
.icon-flickr:before { content: '\e85a'; } /* '' */
.icon-linkedin:before { content: '\e85b'; } /* '' */
.icon-rss:before { content: '\e85c'; } /* '' */
.icon-skype:before { content: '\e85d'; } /* '' */
.icon-twitter:before { content: '\e85e'; } /* '' */
.icon-youtube:before { content: '\e85f'; } /* '' */
.icon-vimeo:before { content: '\e860'; } /* '' */
.icon-email:before { content: '\e861'; } /* '' */
.icon-myspace:before { content: '\e862'; } /* '' */
.icon-amazon:before { content: '\e863'; } /* '' */
.icon-steam:before { content: '\e864'; } /* '' */
.icon-dropbox:before { content: '\e865'; } /* '' */
.icon-ebay:before { content: '\e866'; } /* '' */
.icon-facebook:before { content: '\e867'; } /* '' */
.icon-github:before { content: '\e868'; } /* '' */
.icon-soundcloud:before { content: '\e869'; } /* '' */
.icon-tumblr:before { content: '\e86a'; } /* '' */
.icon-wordpress:before { content: '\e86b'; } /* '' */
.icon-stackoverflow:before { content: '\e86c'; } /* '' */
.icon-yahoo:before { content: '\e86d'; } /* '' */
.icon-emo-unhappy:before { content: '\e86e'; } /* '' */
.icon-emo-sleep:before { content: '\e86f'; } /* '' */
.icon-emo-thumbsup:before { content: '\e870'; } /* '' */
.icon-emo-devil:before { content: '\e871'; } /* '' */
.icon-emo-surprised:before { content: '\e872'; } /* '' */
.icon-emo-tongue:before { content: '\e873'; } /* '' */
.icon-emo-coffee:before { content: '\e874'; } /* '' */
.icon-emo-sunglasses:before { content: '\e875'; } /* '' */
.icon-emo-displeased:before { content: '\e876'; } /* '' */
.icon-emo-beer:before { content: '\e877'; } /* '' */
.icon-emo-grin:before { content: '\e878'; } /* '' */
.icon-emo-angry:before { content: '\e879'; } /* '' */
.icon-emo-saint:before { content: '\e87a'; } /* '' */
.icon-emo-cry:before { content: '\e87b'; } /* '' */
.icon-emo-shoot:before { content: '\e87c'; } /* '' */
.icon-emo-squint:before { content: '\e87d'; } /* '' */
.icon-emo-laugh:before { content: '\e87e'; } /* '' */
.icon-emo-wink2:before { content: '\e87f'; } /* '' */
.icon-emo-wink:before { content: '\e880'; } /* '' */
.icon-emo-happy:before { content: '\e881'; } /* '' */
.icon-print:before { content: '\e882'; } /* '' */
.icon-text-height:before { content: '\e883'; } /* '' */
.icon-tag:before { content: '\e884'; } /* '' */
.icon-hammer:before { content: '\e885'; } /* '' */
.icon-globe-1:before { content: '\e886'; } /* '' */
.icon-globe-inv:before { content: '\e887'; } /* '' */
.icon-th-list:before { content: '\e888'; } /* '' */
.icon-th-large:before { content: '\e889'; } /* '' */
.icon-unlink:before { content: '\e88a'; } /* '' */
.icon-retweet:before { content: '\e88b'; } /* '' */
.icon-thumbs-up:before { content: '\e88c'; } /* '' */
.icon-taxi:before { content: '\e88d'; } /* '' */
.icon-na:before { content: '\e88e'; } /* '' */
.icon-thumbs-down:before { content: '\e88f'; } /* '' */
.icon-lightbulb:before { content: '\e890'; } /* '' */
.icon-star-half-alt:before { content: '\e891'; } /* '' */
.icon-fire-1:before { content: '\e892'; } /* '' */
.icon-share:before { content: '\e893'; } /* '' */
.icon-cog-alt:before { content: '\e894'; } /* '' */
.icon-sliders:before { content: '\e895'; } /* '' */
.icon-left-dir:before { content: '\e896'; } /* '' */
.icon-right-dir:before { content: '\e897'; } /* '' */
.icon-up-dir:before { content: '\e898'; } /* '' */
.icon-down-dir:before { content: '\e899'; } /* '' */
.icon-phone:before { content: '\e89a'; } /* '' */
.icon-inbox:before { content: '\e89b'; } /* '' */
.icon-login:before { content: '\e89c'; } /* '' */
.icon-logout:before { content: '\e89d'; } /* '' */
.icon-wifi:before { content: '\e89e'; } /* '' */
.icon-sitemap:before { content: '\e89f'; } /* '' */
.icon-anchor:before { content: '\e8a0'; } /* '' */
.icon-cab:before { content: '\e8a1'; } /* '' */
.icon-bus:before { content: '\e8a2'; } /* '' */
.icon-bicycle:before { content: '\e8a3'; } /* '' */
.icon-key:before { content: '\e8a4'; } /* '' */
.icon-chart-pie:before { content: '\e8a5'; } /* '' */
.icon-crown:before { content: '\e8a6'; } /* '' */
.icon-user:before { content: '\e8a7'; } /* '' */
.icon-play:before { content: '\e8a8'; } /* '' */
.icon-paper-plane-empty:before { content: '\e8a9'; } /* '' */
.icon-spin6:before { content: '\e8aa'; } /* '' */
.icon-pause:before { content: '\e8ab'; } /* '' */
.icon-stop:before { content: '\e8ac'; } /* '' */
.icon-at:before { content: '\e8ad'; } /* '' */
.icon-paper-plane:before { content: '\e8ae'; } /* '' */
.icon-ticket:before { content: '\e8af'; } /* '' */
.icon-brush:before { content: '\e8b0'; } /* '' */
.icon-umbrella:before { content: '\e8b1'; } /* '' */
.icon-road:before { content: '\e8b2'; } /* '' */
.icon-barcode:before { content: '\e8b3'; } /* '' */
.icon-money:before { content: '\e8b4'; } /* '' */
.icon-fork:before { content: '\e8b6'; } /* '' */
.icon-megaphone:before { content: '\e8b7'; } /* '' */
.icon-bell-alt:before { content: '\e8b8'; } /* '' */
.icon-font:before { content: '\e8b9'; } /* '' */
.icon-soccer-ball:before { content: '\e8ba'; } /* '' */
.icon-beer:before { content: '\e8bb'; } /* '' */
.icon-sort:before { content: '\e8bc'; } /* '' */
.icon-picture:before { content: '\e8bd'; } /* '' */
.icon-male:before { content: '\e8be'; } /* '' */
.icon-female:before { content: '\e8bf'; } /* '' */
.icon-attention:before { content: '\e8c0'; } /* '' */
.icon-filter:before { content: '\e8c1'; } /* '' */
.icon-beaker:before { content: '\e8c2'; } /* '' */
.icon-headphones:before { content: '\e8c3'; } /* '' */
.icon-chart-line:before { content: '\e8c4'; } /* '' */
.icon-chart-area:before { content: '\e8c5'; } /* '' */
.icon-chart-bar:before { content: '\e8c6'; } /* '' */
.icon-star-empty:before { content: '\e8c7'; } /* '' */
.icon-flag:before { content: '\e8c8'; } /* '' */
.icon-bookmark:before { content: '\e8c9'; } /* '' */
.icon-doc:before { content: '\e8ca'; } /* '' */
.icon-doc-text:before { content: '\e8cb'; } /* '' */
.icon-doc-text-inv:before { content: '\e8cc'; } /* '' */
.icon-target:before { content: '\e8cd'; } /* '' */
.icon-off:before { content: '\e8ce'; } /* '' */
.icon-pin:before { content: '\e8cf'; } /* '' */
.icon-tasks:before { content: '\e8d0'; } /* '' */
.icon-tint:before { content: '\e8d1'; } /* '' */
.icon-book:before { content: '\e8d2'; } /* '' */
.icon-qrcode:before { content: '\e8d3'; } /* '' */
.icon-bank:before { content: '\e8d4'; } /* '' */
.icon-rocket:before { content: '\e8d5'; } /* '' */
.icon-video:before { content: '\e8d6'; } /* '' */
.icon-graduation-cap:before { content: '\e8d7'; } /* '' */
.icon-plug:before { content: '\e8d8'; } /* '' */
.icon-paw:before { content: '\e8d9'; } /* '' */
.icon-glass:before { content: '\e8da'; } /* '' */
.icon-gift:before { content: '\e8db'; } /* '' */
.icon-chart-line-1:before { content: '\e8dc'; } /* '' */
.icon-zoom-in:before { content: '\e8dd'; } /* '' */
.icon-eye:before { content: '\e8de'; } /* '' */
.icon-resize-full:before { content: '\e8df'; } /* '' */
.icon-resize-small:before { content: '\e8e0'; } /* '' */